# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
.venv/

# Distributions / packages
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Database files
*.db
*.sqlite

# Data files
data/*.csv
data/*.json

# Log files
*.log

# ML model artifacts
ml/*.joblib
ml/*.csv
